.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    .flightInfo {
        flex-grow: 1;
    }

    .flight {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 30px;
    }
}